
@font-face {
    font-family: 'ds-digital';
    src: url('fonts/ds-digib-webfont.eot');
    src: url('fonts/ds-digib-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ds-digib-webfont.woff') format('woff'),
         url('fonts/ds-digib-webfont.ttf') format('truetype'),
         url('fonts/ds-digib-webfont.svg#ds-digitalbold') format('svg');
    font-weight: bold;
    font-style: normal;

} 