<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEtask">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44300/Etask.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IEtask" contract="Etask.IEtask"
                name="BasicHttpBinding_IEtask" />
        </client>
    </system.serviceModel>
</configuration>