<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ClientReference" value="20FD1EDA-B518-4A90-B8FA-6ECED70C1862"/>
    <add key="ServiceUsername" value="test"/>
    <add key="ServicePassword" value="batekha" />
    <add key="dateformat" value="dd/mm/yy"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <globalization uiCulture="en" culture="fr-FR" />
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEtask">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="https://etask-services.azurewebsites.net/Etask.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEtask"
        contract="ETaskService.IEtask" name="BasicHttpBinding_IEtask" />-->

      <endpoint address="https://localhost:44301/Etask.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEtask"
        contract="ETaskService.IEtask" name="BasicHttpBinding_IEtask" />
      
    </client>

    <extensions>
      <behaviorExtensions>
        <add name="customOutputBehavior" type="ETaskServiceClient.AppCode.CustomOutputBehaviorExtensionElement, ETaskServiceClient.App_Code"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="devleapBehavior">
         
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
  </system.serviceModel>
</configuration>