<?xml version="1.0"?>
<configuration>

  <appSettings>

    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientReference" value="20FD1EDA-B518-4A90-B8FA-6ECED70C1862"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="EtaskMinstryConnectionString" connectionString="data source=72.167.44.55;initial catalog=EtaskMinstry_test;user id=sa;password=QV@100%;" providerName="System.Data.SqlClient" /> -->
    <!--<add name="EtaskMinstryConnectionString" connectionString="data source=192.168.1.4;initial catalog=EtaskMinstry;user id=sa;password=_sa;" providerName="System.Data.SqlClient" />-->
  <add name="EtaskMinstryConnectionString" connectionString="data source=172.16.16.30;initial catalog=EtaskMinistry_1_10_2018;user id=sa;password=111@admin;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <globalization uiCulture="en" culture="fr-FR" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="QvApi.Etask">
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="secureHttpBinding"
                  contract="QvApi.IEtask"/>

        <endpoint address="mex"
                  binding="mexHttpsBinding"
                  contract="IMetadataExchange" />
      </service>

    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="secureHttpBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>
